<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {{link-to 'New Todo' 'todos.new' class="btn btn-warning btn-raised"}}
    </div>
  </div>
  <div class="row">
    {{#each model as |todo|}}
    {{todo-item todo=todo
                delete='delete'}}
    {{/each}}
  </div>
</div>
