<div class="container">

  <div class="row">
    <div class="col-md-12">
        <div class="bs-component">
          <div class="jumbotron">
            <h1>Fast Todo</h1>

            <p>The best, festest and better way to manage your tasks</p>

            <p>
              {{link-to 'Sign In' 'login' class="btn btn-danger btn-lg"}}
            </p>
          </div>
        </div>
      </div>
  </div>

</div>
