<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{todo.title}}</h3>
    </div>
    <div class="panel-body">
      {{todo.body}}
    </div>
  </div>
</div>
