{{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}
  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
    <div class="logo">
    <img src="ember-logo-white-955db9d87b940bf54a17bd1fa78d0713.png" height="30"/>  <strong>Paper</strong>
    </div>
    </div>
  {{/paper-toolbar}}
  {{#paper-content}}
    {{#paper-list}}
      {{!-- {{#link-to 'todos'}}
        {{#paper-item action="redirectTo" route="todos"}}My tasks{{/paper-item}}
      {{/link-to}} --}}
      {{link-to 'todos' 'todos'}}
    {{/paper-list}}
  {{/paper-content}}
{{/paper-sidenav}}
